body, input, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    background-color: #DDD;
    color: white;
    text-align: center;
}

h1 {
    font-family:    'Lato', sans-serif;
    font-weight:    700;
    font-size:      40px;
    padding:        12px;
    margin:         0px;
}

button {
    width: 100%;
    border: none;
    margin-top: 5px;
    padding: 2px;
    padding: 10px, 20px;
    color: white;
    -webkit-transition-duration: 0.2s; /* Safari */
        transition-duration: 0.2s;
}

button.act {
    background-color: #E37222;
}

button.act:hover {
    color: #E37222;
    outline: 1px solid #E37222;
    background-color: white;
}

button.pas {
    background-color: #07889B;
}

button.pas:hover {
    color: #07889B;
    outline: 1px solid #07889B;
    background-color: white;
}

a {
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

a:active {
    color: #E37222;
}

a:hover{
    color: #E37222;
    background-color: white;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    height: 30px;
    margin: 10px 0px;
    list-style-type: none;
}

.info {
    border-left: 1px solid #07889B;
    border-right: 1px solid #07889B;
    color: #07889B;
    text-align:  left;
    padding: 10px ;
}

.info_item {
    float: left;
    width: 40%;
}

.info_content {
    float: right;
    width: 60%;
}

form{
    padding-bottom: 5px;
}

#main {
    width: 600px;
    padding: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    box-shadow: 0 0 20px #888;
    -moz-box-shadow: 0 0 20px #888;
}

#heading{
    background-color: #07889B;
}

#footer {
    background-color: #07889B;
    padding: 8px 0px;
}

@media only screen and (max-device-width: 600px) {
    #main {
        width: 90%;
        padding: 30px;
        margin-top: 30px;
        font-size: 35px;
    }

    li {
        height: 60px;
    }

    h1 {
        padding: 20px;
        font-size: 56px; 
    }

    button {
        height: 180px;
        font-size: 50px;
    }
}
